<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link href="{{ url_for('static',filename='css/custom.css') }}" rel="stylesheet" type="text/css" />
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    
        <title>Payment</title>
        <title>MASHAALLAH comfort point - Log In</title>
    </head>
    <body>
    <header>
        <nav class="navbar fixed-top navbar-dark bg-dark navbar-expand-sm box-shadow">
          <a href="/" class="navbar-brand d-flex align-items-center">
              <strong> <i class="fas fa-headphones"></i>MASHAALLAH comfort point</strong>
          </a>
        </nav>
    </header><br />
    <main>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h2>Proceed to checkout</h2>
                    <p>{{ msg }}</p>
                    <div>
                        <!-- <form action="/checkout/" class="form" method="get"> -->
                            <form  action="/checkout/" class="row g-3 needs-validation" >
                                <div class="col-md-4">
                                  <label for="validationCustom01"  class="form-label">Name</label>
                                  <input type="text" name="name" class="form-control" id="validationCustom01" value="" required>
                                  <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom02"  class="form-label">Address Line 1</label>
                                  <input type="text" name="address1" class="form-control" id="validationCustom02" value="" required>
                                  <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom02"  class="form-label">Address Line 2</label>
                                  <input type="text" name="address2" class="form-control" id="validationCustom02" value="" required>
                                  <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                </div>
                                
                                <div class="col-md-6">
                                  <label for="validationCustom03" class="form-label">City</label>
                                  <input type="text" class="form-control" name="city" id="validationCustom03" required>
                                  <div class="invalid-feedback">
                                    Please provide a valid city.
                                  </div>
                                </div>
                                <div class="col-md-3">
                                  <label for="validationCustom04" class="form-label">State</label>
                                  <input type="text" class="form-control" name="state"id="validationCustom04" required>
                                  <!-- <select class="form-select" id="validationCustom04" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option>...</option>
                                  </select> -->
                                  <div class="invalid-feedback">
                                    Please select a valid state.
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustom02"  class="form-label">Country</label>
                                  <input type="text" name="country" class="form-control" id="validationCustom02" value="" required>
                                  <div class="valid-feedback">
                                    Looks good!
                                  </div>
                                </div>


                                <div class="col-md-4">
                                  <label for="validationCustomUsername" class="form-label">Email</label>
                                  <div class="input-group has-validation">
                                    <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                                    <input type="email" name="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                      Please choose a valid email-id.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <label for="validationCustomUsername" class="form-label">Phone No</label>
                                  <div class="input-group has-validation">
                                    <!-- <span class="input-group-text" id="inputGroupPrepend">@</span> -->
                                    <input type="tel" class="form-control" name="phno" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                      Please type a phone no.
                                    </div>
                                  </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>






                                  <!-- remove from here -->
                                  <!-- <div class="col-12"> -->
                                      
                               
                            </form>
                            
                            
                            
                            
                            
                            
                            
                            
                            <div>
                                <!-- <input type="text" name="name" autofocus placeholder="Name"><br>
                                <input type="text" name="address1" placeholder="Address line 1"><br>
                                <input type="text" name="address2" placeholder="Address line 2"><br>
                                <input type="text" name="city" placeholder="City"><br>
                                <input type="text" name="state" placeholder="State"><br>
                                <input type="text" name="country" placeholder="Country"><br>
                                <input type="text" name="phno" placeholder="Phone no"><br>
                                <input type="text" name="email" placeholder="Email id"><br> -->
                                
                                <div class="container">
                                    <form action="/success">
                                        <!-- <button id="rzp-button1">Pay</button>
                                        <script
                                            src="https://checkout.razorpay.com/v1/checkout.js"
                                            data-key : "rzp_test_o1VE6mxSov6Agn"   
                                            data-amount: "5000"   
                                            data-currency: "INR"
                                            data-name: "Acme Corp"
                                            data-description: "Test Transaction"
                                            data-image: "https://example.com/your_logo"
                                            data-order_id: "1" 
                                        >
                                        </script> -->
                                        
                                    </form> 
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    </body>
</html>
